.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.ball.frame-0 {
  right: -30px;
}
.ball.frame-1 {
  right: -60px;
}
.ball.frame-2 {
  right: -90px;
}
.ball.frame-3 {
  right: -120px;
}
.ball.frame-4 {
  right: -150px;
}
.ball.frame-5 {
  right: -180px;
}
