.viewer {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  cursor: move;
  position: absolute;
  z-index: 10;
}

.line {
  height: 100%;
  list-style: none;
}

.fat {
  width: 5px;
}

.thin {
  width: 1px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.transparent {
  background-color: transparent;
}

.image-port {
  width: 400px;
  height: 500px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  z-index: 5;
}

.frame-0 {
  background: repeating-linear-gradient(90deg, black, black 1px, transparent 1px, transparent 6px);
}

.frame-1 {
  background: repeating-linear-gradient(90deg, transparent, transparent 1px, black 1px, black 2px, transparent 2px, transparent 6px);
}

.frame-2 {
  background: repeating-linear-gradient(90deg, transparent, transparent 2px, black 2px, black 3px, transparent 3px, transparent 6px);
}

.frame-3 {
  background: repeating-linear-gradient(90deg, transparent, transparent 3px, black 3px, black 4px, transparent 4px, transparent 6px);
}

.frame-4 {
  background: repeating-linear-gradient(90deg, transparent, transparent 4px, black 4px, black 5px, transparent 5px, transparent 6px);
}

.frame-5 {
  background: repeating-linear-gradient(90deg, transparent, transparent 5px, black 5px, black 6px);
}
