.ball-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
  height: 460px;
  overflow: hidden;
}

.ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
/*
.ball.frame-0 {
  right: -30px;
}
.ball.frame-1 {
  right: -60px;
}
.ball.frame-2 {
  right: -90px;
}
.ball.frame-3 {
  right: -120px;
}
.ball.frame-4 {
  right: -150px;
}
.ball.frame-5 {
  right: -180px;
}*/
